.robot-container {
  margin: auto;
}

.robot-face-shape {
  width: 500px;
  height: 500px;
  border: 15px solid beige;
  border-radius: 50px;
  background: linear-gradient(to right, #f1f2b5, #135058);
}

.robot-eye-left {
  position: relative;
  left: 50px;
  top: 100px;
  width: 20%;
  height: 20%;
  background: maroon;
  border-radius: 50%;
  opacity: 50%;
}

.robot-eye-right {
  position: relative;
  left: 250px;
  width: 200px;
  height: 100px;
  background-image: url(https://picsum.photos/seed/picsum/200/100);
  background-color: steelblue;
  background-size: contain;
  background-position: center;
  border-radius: 100%;
}

.robot-ear-left {
  position: relative;
  bottom: 350px;
  right: 105px;
  width: 0;
  height: 0;
  border-top: 100px solid sandybrown;
  border-left: 100px solid transparent;
  border-radius: 30px;
}

.robot-ear-right {
  position: relative;
  bottom: 450px;
  left: 505px;
  width: 0;
  height: 0;
  border-top: 100px solid sienna;
  border-right: 100px solid transparent;
  border-radius: 30px;
}

.robot-nose {
  position: relative;
  left: 165px;
  width: 100px;
  height: 0;
  border-bottom: 100px solid dodgerblue;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-radius: 25%;
}

.robot-teeth {
  position: relative;
  left: 115px;
  top: 50px;
  width: 205px;
  height: 40px;
  background-color: black;
  border-radius: 20%;
}

.tooth {
  width: 20px;
  height: 15px;
  border: 1px solid gray;
  background-color: white;
  border-radius: 3px;
}

.robot-tooth-one {
  position: relative;
  left: 20px;
}

.robot-tooth-two {
  position: relative;
  left: 45px;
  top: -15px;
}

.robot-tooth-three {
  position: relative;
  width: 30px;
  left: 70px;
  top: -30px;
}

.robot-tooth-four {
  position: relative;
  width: 30px;
  left: 105px;
  top: -45px;
}

.robot-tooth-five {
  position: relative;
  left: 140px;
  top: -60px;
  background-color: goldenrod;
}

.robot-tooth-six {
  position: relative;
  left: 165px;
  top: -75px;
}

.robot-tooth-seven {
  position: relative;
  left: 30px;
  bottom: 65px;
}
.robot-tooth-eight {
  position: relative;
  left: 55px;
  bottom: 80px;
  background-color: silver;
}
.robot-tooth-nine {
  position: relative;
  left: 80px;
  bottom: 95px;
}
.robot-tooth-ten {
  position: relative;
  left: 105px;
  bottom: 110px;
}
.robot-tooth-eleven {
  position: relative;
  left: 130px;
  bottom: 125px;
}
.robot-tooth-twelve {
  position: relative;
  left: 155px;
  bottom: 140px;
}

.robot-hair-style {
  position: relative;
  bottom: 805px;
  left: 35px;
  width: 400px;
  height: 125px;
  display: flex;
}

.robot-hair-one {
  margin: 50px 15px;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid purple;
}

.robot-hair-two {
  margin: 15px 5px;
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 85px solid blueviolet;
}

.robot-hair-three {
  margin: 0px 15px;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 100px solid plum;
}
